@media (max-width: 375px){
    header {
        flex-direction: column;
        align-items: center;
        gap: 11px;
        height: 149px;
        justify-content: unset;

    }
    nav {
        gap: 11px;
    }
    a {
        font-size: 11px;

    }
    button {
        font-size: 11px;

    }
}

