@media (max-width: 375px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 11px;
        height: 149px;
        justify-content: unset;

    }

    nav {
        gap: 11px;
    }

    a {
        font-size: 11px;

    }

    button {
        font-size: 11px;

    }
    main{
        gap: 41px;

    }

    h1 {
        font-size: 40px;

    }

    p {
        font-size: 24px;

    }

    .text-wrapper {
        margin: 0px;
        width: 100%;
        align-items: center;
    }

    .text-wrapper>h1 {
        font-size: 64px;
        text-align: center;
    }

    .text-wrapper>p {
        width: 100%;
        font-size: 24px;
        text-align: center;
    }
    section {
        gap: 39px;

    }
    .info-wrapper>img {
        width: 100%;
        
    }

    .info-wrapper {
        flex-direction: column;
    }
}