@import url('https://fonts.googleapis.com/css2?family=Alata&family=Alfa+Slab+One&display=swap');

* {
    padding: 0px;
    margin: 0px;

}

/* article.portifolio>p*2+button.class
    tag    classe > tag quantidade  tag classe
    explica depois
*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
}

h1,
h2,
h3,
a,
button {
    font-family: "Alfa Slab One", serif;
    color: white;
    text-decoration: none;
    font-weight: 400;

}

a {
    font-size: 24px;
}

h1 {
    font-size: 96px;
    font-weight: 400;
    color: #FFFFFF;

}

p {
    font-family: Alata, serif;
    color: white;
    font-size: 32px;

}

header {
    display: flex;
    background-color: transparent;
    gap: 234px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 109px;
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;

}

button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 2px solid white;
    font-size: 24px;
    border-radius: 8px;
    padding: 8px 32px 8px 32px;
    height: 49px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    background-image: url(../imgs/img-background/main-background.svg);
    align-items: flex-end;
    width: 100%;
    gap: 32px;
    padding-bottom: 57px;
}

.text-wrapper {

    display: flex;
    flex-direction: column;
    width: 42%;
    align-items: flex-end;
    margin-right: 104px;
    gap: 28px;

}

.text-wrapper>h1 {
    font-size: 130px;
    text-align: right;

}

.text-wrapper>p {
    font-family: Alata, serif;
    color: white;
    font-size: 32px;
    text-align: right;
    width: 62%;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
    gap: 160px;
    padding: 60px 0px 91px 0px;
}

.info-wrapper {
    display: flex;
    width: 88%;
    gap: 85px;

}

.info-wrapper>img {
    width: 45%;

}

.brands-list {
    display: flex;
    overflow: hidden;
    background-color: #161616;
    position: relative;
    width: 100%;
    height: 131px;

}

.icons-wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
    animation: scroll 15s linear infinite;
    width: 6100px;
    
}

.icons-wrapper-reverse {
    animation: scroll 15s linear infinite reverse;

}

.icons-wrapper>img {
    width: 120px;
    height: 120px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-3075px)
    }
}