@media (max-width: 375px) {
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-2525px)
        }
    }


    header {
        flex-direction: column;
        align-items: center;
        gap: 11px;
        height: 149px;
        justify-content: unset;

    }

    nav {
        gap: 11px;
    }

    a {
        font-size: 11px;

    }


    main {
        gap: 41px;

    }

    h1 {
        font-size: 40px;

    }

    p {
        font-size: 24px;

    }

    .text-wrapper {
        margin: 0px;
        width: 100%;
        align-items: center;
    }

    .text-wrapper>h1 {
        font-size: 64px;
        text-align: center;
    }

    .text-wrapper>p {
        width: 100%;
        font-size: 24px;
        text-align: center;
    }

    section {
        gap: 39px;

    }

    .info-wrapper>img {
        width: 100%;

    }

    .info-wrapper {
        flex-direction: column;

    }

    .icons-wrapper {
        width: 4920px;

    }

    .icons-wrapper>img {
        width: 80px;

    }

    h3,
    h4 {
        font-size: 24px;

    }

    .cards-section {
        background-image: url(../imgs/img-background/diferenciais-background-375.svg);
        height: auto;
        gap: 219px;
        padding: 60px 0px 132px 0px;

    }

    .cards {
        flex-direction: column;

    }

    .card {
        width: 331px;
        height: 331px;

    }

    .card>img {
        width: 190px;
        height: 190px;

    }

    .card-wrapper {
        margin-bottom: 190px;

    }

    .card-wrapper>a {
        font-size: 16px;
        font-family: Alata, serif;
    }

    .card-wrapper>p {
        font-size: 16px;

    }

    article {
        flex-direction: column;
        height: 780px;
        gap: 32px;
    }

    form {
        align-items: center;
        width: auto;
    }

    .column {
        flex-direction: column;
        gap: 50px;
        width: 100%;
    }

    article>.text-wrapper {
        width: 89%;

    }

    article>.text-wrapper>h1 {
        font-size: 40px;

    }

    article>.text-wrapper>p {
        font-size: 20px;
        text-align: left;
    }

    footer {
        flex-direction: column;
        gap: 20px;
        height: 170px;
    }

    footer>div {
        gap: 7px;
        width: 80%;

    }

    .footer-wrapper {
        gap: 8px;
        width: 81px;
        height: unset;

    }

    .footer-wrapper>p,
    .footer-wrapper>a {
        font-size: 6px;
    }

    .footer-wrapper>h3 {
        font-size: 10px;
    }

    footer>h1 {
        font-size: 10px;
        width: 17%;


    }

    .footer-wrapper>div {
        gap: 10px;


    }
    button>img {
        width: 16px;
        height: 16px;

    }
}